@font-face {
  font-family: 'Futura Book';
  src: url("../fonts/futura/FuturaBookC.woff") format("woff"), url("../fonts/futura/FuturaBookC.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Futura Demi';
  src: url("../fonts/futura/FuturaDemiC.woff") format("woff"), url("../fonts/futura/FuturaDemiC.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

.container {
  width: 85%;
  max-width: 1403px;
  margin: auto; }

.section {
  padding: 7rem 0; }

img {
  max-width: 100%; }

button {
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer; }

.modals__input {
  width: 270px;
  height: 4rem;
  border-radius: 10px;
  border: none;
  font-size: 1.25rem;
  padding: 0.5rem 0;
  padding-left: 1rem;
  font-family: 'Futura Book', cursive; }
  .modals__input:focus {
    outline: none; }

.modals {
  text-align: center; }

.header {
  padding: 0.5rem 0; }

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.logo {
  max-width: 10rem; }

.nav__item {
  font-family: 'Futura Book', cursive;
  font-weight: 400;
  margin-right: 2rem;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: .3s;
  color: #212121; }
  .nav__item:hover {
    color: #e3b873;
    font-size: 1.1rem; }

.phone {
  color: #212121;
  font-size: 1rem;
  transition: .3s; }
  .phone:hover {
    color: #e3b873;
    font-size: 1.025rem; }

.services {
  padding: 5rem 0;
  background-color: #e4fdf9; }
  .services__heading {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 44.2rem;
    margin: auto; }
  .services__title {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase; }
  .services__text {
    text-align: center;
    font-size: 1rem;
    margin: 0; }
  .services__work {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem; }
  .services__row {
    display: flex;
    position: relative;
    background-color: #ffffff;
    padding: 3rem 0;
    flex-basis: 370px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    border-radius: 10px;
    transition: box-shadow, background-color, transform .3s;
    max-width: 30rem;
    max-height: 28rem; }
    .services__row__text {
      font-size: 1rem;
      text-align: center;
      margin: 1rem 1rem; }
    .services__row__title {
      font-size: 1.5rem; }
  .services__icon {
    max-width: 10rem; }
    .services__icon:hover {
      color: white;
      transform: translateY(-7px);
      transition: .3s; }
    .services__icon__title {
      font-size: 1.2rem; }
    .services__icon__text {
      max-width: 90%;
      font-size: 1rem;
      text-align: center; }
  .services__button {
    padding: 20px 35px;
    margin-right: 2rem;
    text-decoration: none;
    outline: none;
    border-radius: 45px;
    margin: 10px 20px;
    font-size: 11px;
    font-family: 'Futura Demi', cursive;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: .3s; }
    .services__button:hover {
      font-size: 0.8rem;
      box-shadow: 0 15px 20px rgba(46, 229, 157, 0.4);
      transform: translateY(-7px); }

.hero {
  height: 90vh;
  background: #000000 url(../img/hero-bg.jpg) no-repeat center/cover;
  padding-bottom: 40rem; }
  .hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10rem; }
  .hero__button {
    padding: 28px 35px;
    margin-right: 2rem;
    text-decoration: none;
    outline: none;
    border-radius: 45px;
    margin: 10px 20px;
    font-size: 11px;
    font-family: 'Futura Demi', cursive;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: .3s; }
    .hero__button:hover {
      font-size: 0.8rem;
      background: #2EE59D;
      box-shadow: 0 15px 20px rgba(46, 229, 157, 0.4);
      color: white;
      transform: translateY(-7px); }
  .hero__title {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 4.28rem;
    font-family: 'Futura Demi', cursive;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 1.8rem;
    text-align: center; }
  .hero__text {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 1.57rem;
    font-weight: 700;
    text-align: center;
    margin: 0; }
    .hero__text--bg {
      border: 2px solid #f8f8f8;
      box-shadow: 0 5px 15px rgba(227, 184, 115, 0.2);
      transition: box-shadow .3s; }
      .hero__text--bg:hover {
        box-shadow: none; }

.buttons {
  display: flex;
  flex-direction: row;
  margin-top: 7.7rem; }

.about {
  padding: 5rem 0; }
  .about__me {
    width: 25%;
    border-radius: 15px; }
  .about__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .about__title {
    font-size: 2.1rem;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase; }
  .about__text {
    font-size: 1.075rem;
    text-align: center;
    font-weight: 400;
    line-height: 1.8rem;
    margin: 0;
    max-width: 44.2rem; }
  .about__us {
    flex-basis: 33%;
    text-align: center;
    margin-right: 5rem; }
  .about__icon__title {
    font-family: 'Futura Demi', cursive;
    font-size: 1.42rem; }
  .about__icon__text {
    font-family: 'Futura Book', cursive;
    font-size: 1.075rem;
    font-weight: 400;
    text-align: center; }

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 121px;
  margin-left: 3rem; }

.works__heading {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.works__title {
  text-transform: uppercase;
  font-size: 2rem; }

.works__buttons {
  margin-top: 2rem; }

.works__button {
  padding: 20px 35px;
  margin-right: 2rem;
  margin-top: 2rem;
  text-decoration: none;
  outline: none;
  border-radius: 45px;
  margin: 10px 20px;
  font-size: 11px;
  font-family: 'Futura Demi', cursive;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: .3s; }
  .works__button:hover {
    font-size: 0.8rem;
    box-shadow: 0 15px 20px rgba(46, 229, 157, 0.4);
    transform: translateY(-7px); }

.works__row {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  flex-wrap: wrap; }

.works__card {
  margin-right: 5rem;
  margin-top: 2rem;
  max-width: 25rem;
  max-height: 20rem;
  transition: .3s; }
  .works__card:hover {
    transform: translateY(-15px); }

.works__icon {
  border-radius: 15px;
  max-width: 24rem;
  min-height: 20rem;
  max-height: 20rem;
  box-shadow: 3px 4px 10px #1f1a0e;
  margin-right: 1rem;
  transition: 0.5s; }

.contacts {
  background: url("../img/contacts/contacts1.jpg") no-repeat center/cover;
  color: #ffffff; }
  .contacts__heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .contacts__title {
    margin: 0;
    font-size: 3rem;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #212121; }
  .contacts__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 70%;
    margin: auto;
    margin-top: 4rem; }
  .contacts__text {
    font-size: 1.5rem;
    text-shadow: 2px 2px 1.5px #212121; }
  .contacts__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .contacts__icon__text {
      font-size: 1.2rem;
      padding-top: 0.5rem;
      outline: none;
      text-decoration: none;
      color: #ffffff;
      text-shadow: 2px 2px 2px #212121; }
  .contacts__image {
    width: 9rem;
    height: 9rem; }
  .contacts__form {
    display: flex;
    justify-content: space-between;
    max-width: 43rem;
    margin: auto;
    margin-top: 3rem; }
  .contacts__button {
    font-family: 'Futura Demi', cursive;
    padding: 0 3rem;
    border-radius: 9px;
    text-align: center;
    font-weight: 600;
    color: #524f4e;
    background: white; }
    .contacts__button:hover {
      color: #212121;
      padding: 1rem;
      box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
      transition: .7s; }
  .contacts__input--full {
    height: 14rem;
    padding-right: 75%; }

.input__group {
  margin-right: 1rem; }

.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 9999;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center; }
  .modal--visible {
    opacity: 1;
    visibility: visible; }
  .modal__dialog {
    position: relative;
    background: #ffffff;
    max-width: 32rem;
    padding: 2.357rem 3.5rem 1.928rem;
    color: #ffdddd;
    border-radius: 1rem; }
  .modal__close {
    position: absolute;
    right: 0;
    top: 0;
    width: 28px;
    height: 28px;
    border: none;
    margin: 1rem;
    background-color: #212121, 0.9; }
  .modal__button {
    padding: 1rem;
    text-decoration: none;
    outline: none;
    border-radius: 45px;
    margin: 10px 20px;
    font-size: 11px;
    font-family: 'Futura Demi', cursive;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: .3s; }
  .modal__title {
    font-family: 'Yeseva One', serif;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
    color: #000; }
  .modal__form {
    display: flex;
    flex-direction: column; }
  .modal__input {
    margin-bottom: 3.4rem; }

.label {
  font-size: 1rem;
  color: #212121; }

.input {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
  font-size: 1.285em;
  color: #212121;
  padding: 0.5rem 0;
  outline: none; }
  .input::-moz-placeholder {
    color: #929292; }
  .input:-ms-input-placeholder {
    color: #929292; }
  .input::-ms-input-placeholder {
    color: #929292; }
  .input::placeholder {
    color: #929292; }

@media screen and (max-width: 1250px) {
  html {
    font-size: 14px; } }

@media screen and (max-width: 992px) {
  .nav {
    display: none; }
  .services__row {
    font-size: 0.8rem; }
  .services__button {
    padding: 1rem 1rem;
    font-size: 0.8rem; }
  .services .about__me {
    width: 50%; }
  .contacts__icons {
    display: flex;
    flex-direction: column; }
  .contacts__form {
    display: flex;
    flex-direction: column; }
  .contacts__button {
    max-width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem; }
  .input__group {
    margin-bottom: 1rem; }
  .buttons {
    margin-top: 4rem; } }

@media screen and (max-width: 760px) {
  nav {
    font-size: 0.3rem; }
  .hero__title {
    font-size: 3rem;
    text-align: none; }
  .hero__text {
    text-align: none; }
  .row {
    flex-direction: column; }
    .row__us {
      margin-bottom: 1rem; }
  .about__me {
    width: 30%; }
  .services__work {
    flex-direction: column; }
  .services__row {
    margin-bottom: 2rem;
    min-width: 30rem; }
  .contacts__form {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto; } }

@media screen and (max-width: 570px) {
  .buttons {
    padding-bottom: 7rem;
    margin-top: 4rem; }
  .about__me {
    width: 50%; }
  .works__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .works__card {
    margin-right: 0; }
  .works__row {
    margin-top: 0; }
  .services__row {
    margin-right: 0;
    min-width: 18rem;
    max-width: 23rem; }
  .contacts__text {
    text-align: center; } }

*, :after, :before {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  font-family: 'Futura Book', sans-serif;
  font-size: 14px;
  margin: 0; }
