@media screen and ( max-width: 1250px )
  html
    font-size: 14px
@media screen and ( max-width: 992px )
  .nav
    display: none
@media screen and ( max-width: 760px )
  nav
    font-size: 0.3rem
  .hero
    &__title
      font-size: 1rem
      text-align: none
    &__text
      text-align: none
    &__content
  .row
    flex-direction: column
  .about
    &__us
      margin-bottom: 1rem
@media screen and ( max-width: 570px )
  .hero
    &__content
      padding-top: 7rem
    &__title
      font-size: 1rem
    &__text
      font-size: 0.3rem
  .buttons
    padding-bottom: 7rem


