@media screen and ( max-width: 1250px )
  html
    font-size: 14px
@media screen and ( max-width: 992px )
  .nav
    display: none
  .services
    &__row
      font-size: 0.8rem
    &__button
      padding: 1rem 1rem
      font-size: 0.8rem
    .about
      &__me
        width: 50%
  .contacts
    &__icons
      display: flex
      flex-direction: column
    &__form
      display: flex
      flex-direction: column
      margin-left: 15rem
  .input
    &__group
      margin-bottom: 1rem
  .buttons
    margin-top: 4rem
@media screen and ( max-width: 760px )
  nav
    font-size: 0.3rem
  .hero
    &__title
      font-size: 3rem
      text-align: none
    &__text
      text-align: none
    &__content
  .row
    flex-direction: column
    &__us
      margin-bottom: 1rem
  .about
    &__me
      width: 30%
  .services
    &__work
      flex-direction: column
    &__row
      margin-bottom: 2rem
  .contacts
    &__form
      display: flex
      flex-direction: column
      margin-left: 0
@media screen and ( max-width: 570px )
  .buttons
    padding-bottom: 7rem
    margin-top: 4rem
  .about
    &__me
      width: 50%
  .hero
    &__content
      padding-top: 3rem
  .works
    &__buttons
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
    &__card
      margin-right: 0
  .services
    &__row
      margin-right: 0
  .contacts
    &__text
      text-align: center


