@import 'fonts'
@import 'settings'
@import 'variables'
@import 'templates/header'
@import 'templates/services'
@import 'templates/hero'
@import 'templates/about'
@import 'templates/works'
@import 'templates/contacts'

@import 'media'

*, :after, :before
 box-sizing: border-box
html
 scroll-behavior: smooth
body
 font-family: 'Futura Book', sans-serif
 font-size: 14px
 margin: 0