.contacts
 background: url(../img/contacts/contacts-bg.jpg) no-repeat center/cover
 color: $light
 &__heading
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
 &__title
  margin: 0
  font-size: 2rem
  text-transform: uppercase
 &__text
  font-size: 1rem
 &__icons
  display: flex
  justify-content: space-between
  align-items: center
  max-width: 70%
  margin: auto
  margin-top: 4rem
 &__icon
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  &__text
   font-size: 1.2rem
   padding-top: 0.5rem
 &__form
  display: flex
  justify-content: space-between
  max-width: 35.6rem
  margin: auto
  margin-top: 3rem
 &__input
  &--full
   height: 14rem
   padding-right: 75%
.input
 &__group
  margin-right: 1rem

