.header
 padding: 0.5rem 0
.menu
 display: flex
 justify-content: space-between
 align-items: center
.logo
 max-width: 10rem
.nav
 &__item
  font-family: 'Futura Book', cursive
  font-weight: 400
  margin-right: 2rem
  font-size: 1rem
  text-transform: uppercase
  text-decoration: none
  transition: .3s
  color: $dark
  &:hover
   color: #e3b873
   font-size: 1.1rem
.phone
  color: $dark
  font-size: 1rem
  transition: .3s
  &:hover
   color: #e3b873
   font-size: 1.025rem
