.header
 padding: 1rem 0
.menu
 display: flex
 justify-content: space-between
 align-items: center
.logo
 max-width: 10rem
.nav
 &__item
  font-family: 'Futura Book', cursive
  font-weight: 400
  margin-right: 2rem
  font-size: 1rem
  text-transform: uppercase
  text-decoration: none
  color: black
.phone
  color: $dark