.hero
 height: 100vh
 background: #000000 url(../img/hero-bg.jpg) no-repeat center/cover
 &__content
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  padding-top: 182px
 &__button
  padding: 28px 35px
  margin-right: 2rem
 &__title
  text-transform: uppercase
  color: #ffffff
  font-size: 60px
  font-weight: 400
  margin-top: 0
  margin-bottom: 1.8rem
 &__text
  text-transform: uppercase
  color: #ffffff
  font-size: 22px
  font-weight: 700
  margin: 0
 &__button
  text-transform:
  color: #ffffff
  &--bg
   background: none
   border: 3px solid #f8f8f8
  &--grey
   background-color: $grey
   padding: 28px 46px
   color: $light
.buttons
 display: flex
 flex-direction: row
 margin-top: 108px