.services
 padding: 5rem 0
 background-color: #e4fdf9
 &__heading
  display: flex
  justify-content: center
  flex-direction: column
  align-items: center
  max-width: 620px
  margin: auto
 &__title
  text-align: center
  font-size: 2rem
  text-transform: uppercase
 &__text
  text-align: center
  font-size: 1rem
  margin: 0
 &__work
  position: relative
  display: flex
  justify-content: center
  align-items: center
  margin-top: 3rem
 &__row
  display: flex
  position: relative
  background-color: #ffffff
  padding: 3rem 0
  flex-basis: 370px
  flex-direction: column
  justify-content: center
  align-items: center
  margin-right: 2rem
  border-radius: 10px
  transition: box-shadow, background-color, transform .3s
  &:hover
   background: #2EE59D
   box-shadow: 0 15px 20px rgba(46,229,157,.4)
   color: white
   transform: translateY(-7px)
  &__title
   font-size: 1.2rem
  &__text
   max-width: 90%
   font-size: 1rem
   text-align: center
 &__button
  padding: 20px 35px
  margin-right: 2rem
  text-decoration: none
  outline: none
  border-radius: 45px
  margin: 10px 20px
  font-size: 11px
  font-family: 'Futura Demi', cursive
  text-transform: uppercase
  text-align: center
  font-weight: 600
  color: #524f4e
  background: white
  box-shadow: 0 8px 15px rgba(0,0,0,.1)
  transition: .3s
  &:hover
   font-size: 0.8rem
   box-shadow: 0 15px 20px rgba(46,229,157,.4)
   transform: translateY(-7px)
